# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.idb
*.pch

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
ipch/
*.VC.db
*.VC.VC.opendb

# OS
Thumbs.db
Desktop.ini
.DS_Store
